html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul li a {
    padding: 20px;
    display: block;
}

/* aside {
    width: 90%;
    box-sizing: border-box;
}

section {
    width: 99%;
    box-sizing: border-box;
} */