/* PHASE 4: Footer */

.footer {
    display: flex;
    font-size: 12px; 
    justify-content: space-between;
    width: 900px;
    border-top: 1px solid gray;
    margin: 0 auto 50px auto;
    color: gray;
    background: white;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.copyright {
    display: block;
    padding: 20px;
}

.footer-links {
    display: flex;
    padding: 20px
}

.footer-links > li {
    padding: 0 20px;
}

.footer a:hover {
    color: black
}